[UNIT]
Description=Run a script to enable/disable fprintd with laptop lid switch events

[Service]
Type=oneshot
ExecStart=/opt/lidswitch/laptop-lid.sh
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fprintd-switch

[Install]
WantedBy=multi-user.target
